<h1> My To-Do List</h1>
<div class="container">
<form (ngSubmit)="onSubmit(taskForm)" #taskform="ngForm">
    <div class="form-group">
      <label for="task">enter task</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your tasks here" name="task"ngModel required>
      <small id="emailHelp" class="form-text text-muted">required field</small>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
       
        <th>Task</th>
        <th>Completed</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of taskArray"> 
       <tr *ngFor="let t of taskArray">
        <td>{{t.taskName}}</td> 
        <td> <input id="cbox" type="checkbox" aria-label="Checkbox for following text input"></td>
        <td><button class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
     
    </tbody>
  </table>
 </div>

